[flake8]
ignore = E501, E302, F401, W292, F403
max-line-length = 120
exclude = .git,__pycache__,build,dist,*.egg-info,alembic
per-file-ignores =
    # Allow unused imports in __init__.py files
    __init__.py: F401
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,